src/main/mule/implementations/delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
		
	<flow 
		name="deleteFlow" doc:id="8f727b81-7136-48e3-9fc0-93da41c8ef20">
		
		<logger 
			level="INFO" 
			doc:name="start" 
			message="#['Delete orderId=' ++ attributes.uriParams.'orderId']"
			category="app"/>
		<salesforce:delete 
			doc:name="Delete" 
			config-ref="GlobalSalesforceConfig" >
			<salesforce:ids ><![CDATA[#[[attributes.uriParams.'orderId']]]]></salesforce:ids>
		</salesforce:delete>
		
		<choice doc:name="Choice">
			<when expression="#[payload.successful]">
				<logger
					level="DEBUG"
					doc:name="Logger" 
					message="The record was deleted" 
					category="app"/>
				<ee:transform doc:name="Success Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.record-delete-success}"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<logger 
					level="DEBUG" 
					doc:name="Logger" 
					message="The record couldn't be deleted" 
					category="app"/>
					
				<ee:transform doc:name="Response">
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "${messages.record-delete-error}"
}
]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
