src/main/mule/implementations/post.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" 
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core 
		http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/ee/core 
		http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/validation 
		http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
		http://www.mulesoft.org/schema/mule/salesforce 
		http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/json-logger 
		http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
	">

	<flow name="post:\orders">
		<set-variable 
			value='#[%dw 2.0&#10;output application/java&#10;---&#10;{&#10;    "poNumber": payload.poNumber default ""&#10;}]' doc:name="otel Tags" doc:id="4f97c79e-38fb-427f-9faa-11b5d7d9eeb8" variableName="openTelemetryTags" />
		
		<set-variable 
			value='#[attributes.requestUri ++ "/"]' 
			doc:name="Set Location" 
			variableName="location" />

		<set-variable 
			value="#[payload.poNumber]" 
			doc:name="poNumber" 
			variableName="poNumber" />

		<set-variable 
			value="#[payload]"
			doc:name="payload backup"
			variableName="payloadBackup" />

		<flow-ref 
			doc:name="Get Order by poNumber" 
			name="queryOrder"/>

		<validation:is-true 
			doc:name="Order not exist?" 
			config-ref="Validation_Config"
			expression="#[sizeOf(payload) == 0]"/>

		<ee:transform 
			doc:name="Insert Payload" 
			doc:id="3e24e41c-ea7f-4f5b-bfbd-7309091804ca" >

			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
	vars.payloadBackup mapObject ((value, key, index) -> 
        ((key as String) ++ "__c") : value
    )
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<salesforce:create 
			type="Order__c" 
			doc:name="Create Order" 
			doc:id="1de189cd-232e-4539-bf00-82c5b6b0d6db"
			config-ref="GlobalSalesforceConfig" />
		
		<validation:is-true 
			doc:name="is create success?" 
			doc:id="c07ab925-a396-4486-90b7-16cca26230cc" 
			expression="#[payload.successful == true]"/>
		
		<ee:transform doc:name="Set Header" doc:id="4edb2256-18a6-47cc-807e-d3a5205c50eb">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{"Location": 
	( (vars.location as String)
		++ (payload.items[0].id as String)
	)
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>

		<ee:transform doc:name="Success Message" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Order created successfully"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>

		<error-handler >
			<on-error-propagate 
				enableNotifications="true" 
				logException="true" 
				doc:name="On Error Propagate" 
				type="VALIDATION:INVALID_BOOLEAN">

				<set-variable 
					value="409" 
					doc:name="status 409"
					variableName="httpStatus" />

				<ee:transform doc:name="Error Message">

					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Order already exists"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>

			<on-error-propagate 
				enableNotifications="true" 
				logException="true" 
				doc:name="On Error Propagate"
				type="ANY">
				
				<set-variable 
					value="500" 
					doc:name="status 500" 
					variableName="httpStatus" />
				
				<ee:transform doc:name="Error Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "There was a problem while trying to access the backend repository"
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
